<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Demo Web App</title>
    <style>
        body {
            padding-top: 200px;
        }

        p {
            font-size: 20px;
        }

        .card {
            width: 18rem;
        }
    </style>
</head>

<body>
    <div class="container">

        <h2 class="mb-3 text-center">EC2 information</h2>
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center mb-3">

            {% for item in data.ec2_self %}
            <div class="card m-2">
                <div class="card-body pt-0 px-0">
                    <h5 class="card-title text-center text-white bg bg-secondary py-2 mb-3">{{ item.title }}</h5>
                    <p class="card-text text-center text-primary fw-bold">{{ item.value }}</p>
                </div>
            </div>
            {% endfor %}

        </div>

        <p class="text-center">This app is hosted on an AWS EC2 instance, or a group of EC2 instances. </p>
        <p class="text-center">The information of the instance which processed current http requst is display above.</p>
        <div class="d-flex justify-content-center">
            <div class="p-3"><img class="img-fluid" width="80px"
                    src="{{ url_for('static', filename='amazon_ec2.png') }}" alt=""></div>
            <div class="p-3"><img class="img-fluid" width="100px" src="{{ url_for('static', filename='python.png') }}"
                    alt="">
            </div>
        </div>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>